


# Maven build output
target/

# Eclipse files
.classpath
.project
.settings/
.factorypath

# Spring sensitive config - NEVER upload
src/main/resources/application.properties

# OS files
.DS_Store
Thumbs.db
*.class

frontend/node_modules/
frontend/build/